.image{
    display: block;
    margin: 20px auto 0 auto;
}
.heading{
    text-align: center;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 font-family: "Poppins", sans-serif;
}
p{
    text-align: center;
    cursor: pointer;
}
.icons{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 20px auto;
    margin-top: 0;
    margin-left: 0;
    margin-top: -90px;
}
.h3{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 60px;
    justify-content: center;
}
.registration{
    color: green;
    cursor: pointer;
}
.id{
    background-color: rgba(187, 192, 196, 0.195);
    color: rgb(8, 124, 201);
    cursor: pointer;
}
.tree{
    color: rgb(8,124,201)
}
#country{
    width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree1{
    color: rgb(8,124,201);
}
#preference{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree2{
    color: rgb(8,124,201);
}
#gender{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree3{
    color: rgb(8,124,201);
}
#city{
    width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree4{
    color: rgb(8,124,201);
}
#course{
    width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree5{
    color: rgb(8,124,201);
}
#Name{
    width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree6{
     color: rgb(8,124,201);
}
#fname{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree7{
    color: rgb(8,124,201);
}
#email{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree8{
    color: rgb(8,124,201);
}
#number{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree9{
    color: rgb(8,124,201);
}
#cnic{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree10{
    color: rgb(8,124,201);
}
#dob{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree11{
    color: rgb(8,124,201);
}
#computer{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree12{
    color: rgb(8,124,201);
}
#laptop{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree13{
    color: rgb(8,124,201);
}
#add{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree14{
    color: rgb(8,124,201);
}
#add{
     width: 300px;
    height: 50px;
    border: 2px solid rgb(0,128,0);
    border-radius: 5px;
    cursor: pointer;
}
.tree15{
    background-color:  rgb(8,124,201);
    color: aliceblue;
    width: 1200px;
    height: 50px;
}
.portal,center{
    border: 2px solid rgb(8,124,201);
    border-radius: 10px;
}

